Repository tktcorporation/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: document, ci, macos, ubuntu

.github/labeler.yml:

document:
  - README.md
ci:
  - .github/**/*
macos:
  - src/os/installs/macos/**/*
  - src/os/preferences/macos/**/*
  - src/shell/macos/**/*
ubuntu:
  - src/os/installs/ubuntu/**/*
  - src/os/preferences/ubuntu/**/*
  - src/shell/ubuntu/**/*

:sparkles: update README
  README.md
Labels: document

:sparkles: install alfred
  src/os/installs/macos/misc.sh
Labels: macos

:sparkles: add clippy
  src/os/installs/macos/misc.sh
Labels: macos

:bug: fix a typo
  src/os/installs/macos/misc.sh
Labels: macos

:sparkles: add some tools
  src/os/installs/macos/misc.sh
  src/os/installs/macos/misc_tools.sh
Labels: macos

Update browsers.sh
  src/os/installs/ubuntu/browsers.sh
Labels: ubuntu

Update applications.sh
  src/os/installs/ubuntu/applications.sh
Labels: ubuntu

:fire: remove unused files
  src/git/gitconfig
  src/os/setup.sh
  src/shell/bashrc
  src/tmux/tmux.conf
  src/vim/vim/backups/.gitkeep
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/.github/CODE_OF_CONDUCT.md
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/.github/workflows/main.yml
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/.gitignore
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/MIT-LICENSE
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/README.md
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/autoload/rainbow_levels.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/badwolf.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/base16.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/default.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/desert.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/dracula.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/gruvbox.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/ir_black.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/jellybeans.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/solarized.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/space-vim-dark.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/default_colors/zenburn.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/doc/rainbow_levels.txt
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/doc/tags
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/plugin/rainbow_levels.vim
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/test/loading_colors.vader
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/test/match_patterns.vader
  src/vim/vim/pack/minpac/start/rainbow_levels.vim/test/toggle.vader
  src/vim/vim/snippets/emmet.json
  src/vim/vim/swaps/.gitkeep
  src/vim/vim/undos/.gitkeep
  src/vim/vimrc
Labels: none

:fire: remove unused packages
  src/os/installs/ubuntu/applications.sh
Labels: ubuntu

:sparkles: setup git with gh
  src/os/set_github_ssh_key.sh
  src/os/update_content.sh
Labels: none

:technologist: add gitignore
  .gitignore
Labels: none

update setup scripts
  src/os/create_directories.sh
  src/os/create_local_config_files.sh
  src/os/create_symbolic_links.sh
  src/os/create_symbolic_links_fish.sh
  src/os/installs/macos/main.sh
  src/os/installs/ubuntu/main.sh
  src/os/setup.sh
Labels: macos, ubuntu

debug
  src/os/setup.sh
Labels: none

fix unbound variables
  src/os/utils.sh
Labels: none
