Repository tktcorporation/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: document, ci, macos, ubuntu

:art: fix linting
  src/os/install/ubuntu/kubectl.sh
Labels: ubuntu

:sparkles: add a permission to exec
  src/os/install/ubuntu/kubectl.sh
Labels: ubuntu

:bug: fix a command arg
  src/os/install/ubuntu/kubectl.sh
Labels: ubuntu

:sparkles: use code instead of code-insiders
  src/shell/config.fish
Labels: none

:memo: add a note to use zi command
  src/shell/config.fish
Labels: none

:bug: fix a docker down command
  src/shell/config.fish
Labels: none

:sparkles: add some git utility comands
  src/git/gitconfig
Labels: none

:sparkles: add some update of git commands
  src/git/gitconfig
Labels: none

:sparkles: add a complete message to a git command
  src/git/gitconfig
Labels: none

:sparkles: add some interact commands
  src/git/gitconfig
Labels: none

:sparkles: update some alias settings
  src/shell/config.fish
Labels: none

:sparkles: handle KDE neon
  src/os/setup.sh
Labels: none

:sparkles: handle kde neon as ubuntu
  src/os/setup.sh
  src/os/utils.sh
Labels: none

:fire: remove unused lines
  src/os/setup.sh
Labels: none

:sparkles: update one password install process
  src/os/install/ubuntu/one-password.sh
Labels: ubuntu

:sparkles: install brew on ubuntu
  src/os/install/ubuntu/brew.sh
  src/os/install/ubuntu/main.sh
Labels: ubuntu

:sparkles: gh extension install davidraviv/gh-clean-branches
  src/os/install/ubuntu/github-cli.sh
Labels: ubuntu

:sparkles: install zsh for clean-branches
  src/os/install/ubuntu/fish.sh
Labels: ubuntu

:sparkles: install tldr
  src/os/install/ubuntu/shell-commands.sh
Labels: ubuntu

:sparkles: install gh with brew
  src/os/install/ubuntu/github-cli.sh
Labels: ubuntu

:sparkles: for using pbcopy on linux
  src/shell/config.fish
Labels: none

:sparkles: install commands with brew
  src/os/install/ubuntu/fish.sh
  src/os/install/ubuntu/kubectl.sh
  src/os/preferences/ubuntu/shell.sh
Labels: ubuntu

:sparkles: for using redasql
  src/shell/config.fish
Labels: none

:sparkles: settings for kde
  src/os/preferences/ubuntu/terminal.sh
  src/os/preferences/ubuntu/ui_and_ux.sh
Labels: ubuntu

:sparkles: install packages with brew
  src/os/install/ubuntu/docker.sh
  src/os/install/ubuntu/fish.sh
  src/os/install/ubuntu/github-cli.sh
  src/os/install/ubuntu/kubectl.sh
  src/os/install/ubuntu/langages.sh
  src/os/install/ubuntu/misc_tools.sh
  src/os/install/ubuntu/shell-commands.sh
  src/os/install/ubuntu/tmux.sh
Labels: ubuntu

:fire: remove unused dirs
  src/os/create_directories.sh
Labels: none

:sparkles: change ssh key generating algorithm
  src/os/set_github_ssh_key.sh
Labels: none

:fire: remove unused path config
  src/shell/config.fish
Labels: none

:sparkles: update some macos settings
  src/os/install/macos/compression_tools.sh
  src/os/install/macos/main.sh
  src/os/install/macos/vscode.sh
  src/os/preferences/macos/chrome.sh
  src/os/preferences/macos/dock.sh
  src/os/preferences/macos/finder.sh
  src/os/preferences/macos/firefox.sh
  src/os/preferences/macos/keyboard.sh
Labels: macos

:sparkles: update brew install
  src/os/install/macos/homebrew.sh
Labels: macos

:technologist: update test workflows
  .github/workflows/check_links.yml
  .github/workflows/ubuntu.yml
  tests/.markdownlint.json
  tests/check_links_from_markdown_files.sh
  tests/check_markdown_files.sh
  tests/lint_markdown_files.sh
  tests/lint_shell_files.sh
  tests/markdown-link-check.json
  tests/shellcheck.sh
Labels: ci

:fire: remove some bin
  src/bin/server
  src/bin/server.py
Labels: none

:sparkles: update gitconfig
  src/git/gitconfig
Labels: none

:sparkles: update shell settings
  src/shell/bash_exports
  src/shell/bash_functions
  src/shell/bash_profile
  src/shell/bashrc
Labels: none

:sparkles: update os files
  src/os/create_directories.sh
  src/os/create_symbolic_links.sh
  src/os/set_github_ssh_key.sh
  src/os/setup.sh
  src/os/utils.sh
Labels: none

:fire: remove vim plugins
  src/os/install/vim.sh
Labels: none

:sparkles: add MarkText and Fig
  src/os/install/macos/misc.sh
Labels: macos

.github/labeler.yml:

document:
  - README.md
ci:
  - .github/**/*
macos:
  - src/os/install/macos/**/*
  - src/os/preferences/macos/**/*
  - src/shell/macos/**/*
ubuntu:
  - src/os/install/ubuntu/**/*
  - src/os/preferences/ubuntu/**/*
  - src/shell/ubuntu/**/*
